<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 안드로이드에서 Camera를 사용하는 권환 -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- http 웹 네트워크를 위한 권환 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSPersonal_Phone"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">
        <!--android:usesCleartextTraffic="true" // Http호출 허용의 설정-->

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- CameraActivity 추가 -->
        <activity
            android:name=".CameraActivity"
            android:exported="true">
        </activity>

        <!-- LoadingActivity 추가 -->
        <activity
            android:name=".LoadingActivity"
            android:exported="true">
        </activity>

        <!--  fileprovider 설정  -->
        <!--  ${applicationId} 패키지 이름  -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cspersonal_phone"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/external"/>
        </provider>
     <!--
        <provider android:name="androidx.startup.InitializationProvider" android:authorities="com.example.cspersonal_phone.androidx-startup" android:exported="false">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
        </provider>-->

    </application>
</manifest>